html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}
 
/*Index Page*/
.heading{
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
    text-shadow: 5px 5px 15px white;
    text-shadow: 1px 1px 5px turquoise,
    1px 1px 10px turquoise;
    
}
.nftpic {
    transform: scale(2);
    width: auto;
    height: auto;
    padding-top: -50px;
}
.nftpic :hover{
    color: rgba(64, 224, 208, 0.884);
}
nav {
    padding: 15px 0px 150px 0px;
    min-width: 100%; 
    max-width: 60%;
    text-align: right;
    position: relative;
}
nav ul {
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.1) 25%, 
     rgba(255, 255, 255, 0.1) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 2px #eeeaea,
     inset 0 0 10px turquoise;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    padding: 10px; 
    color: #616060d2;
    text-shadow: 1px 1px 1px rgb(10, 10, 10);
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
    display: block;
    text-align: center;
}
.floatleft {
    float:left;
}
.floatright {
    float:right;
    margin-right: 30px;
}
.image {
    display: block;
    width: 10%;
    height: auto;
    position: absolute;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0));
}
  
.nftpic:hover .overlay {
    opacity: 1;
}
.text {
    color: rgba(110, 109, 109, 0.568);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.intro{
    background-image: url("https://i.ibb.co/CM4bYLt/breno-machado-in9-n0-Jwg-Z0-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #0a80e0b0;
    color: white;
    padding-bottom: 95px;
}
a:hover {
    color: turquoise;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.prof{
    font-size: 80px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 15px 19px rgb(255, 253, 253);

}
.summary{
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 200px;
    text-shadow: 1px 2px 4px rgba(70, 68, 68, 0.479),
    1px 2px 1px rgb(12, 255, 235),
    1px 20px 2px rgba(12, 255, 235, 0.74),
    1px 40px 4px rgba(12, 255, 235, 0.726),
    1px 60px 9px rgba(12, 255, 235, 0.726);
}
.datatitle {
    font-style: initial;
    font-size: 40px;
    padding-bottom: 10px;
    text-align: center;
}
.data{
    font-style: initial;
    font-size: 20px;
    padding-bottom: 10px;
}

.subheading_three{
    padding-top: 30px;
    
    font-size: 40px;
    font-weight: bolder;
    color: rgb(2, 2, 2);
    text-shadow: 1px 1px 30px white;
    text-align: center;
    visibility: hidden;
}

.data{
    text-align: center;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-bottom: 18px;
  padding-top: 18px;
}
.contactinfo{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    color: white;
    padding-bottom: 20px;
}

.top {
    background-color: rgb(0, 0, 0)
}
.social{
    font-size: 20px;
    text-align: center;
    display: inline;
    padding: 20px;
}
.social li{
    min-width: 50px;
    border-radius: 30%;
    background-color: rgb(29, 28, 28);
    padding: 7px;
    margin-right: 20px;
    transition: 2s ease;
}
html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer{
    color: turquoise;
    text-align: center;
    padding-bottom: 20px;
}
/*Gallery Page*/
.galleryintro{
    background-image: url("img/29170.JPEG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: min-content;
    color: white;
    padding-bottom: 200px;
}
.galleryheadingone{
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 15px rgb(5, 5, 5);    
}
.gallerysubheadingone{
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.gallerybottom{
    padding: 150px;
}
.gpic{
    width: 100%;
    margin: auto;
    border-radius: 500px;
    border: solid 20px rgba(54, 53, 53, 0);
}
.gallerypics{
    width: 75%;
    margin: auto;
}
/*About Page*/
.aboutintro{
    background-image: url("img/5984.JPEG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: min-content;
    color: white;
    padding-bottom: 20px;
}
.aboutheadingone{
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 15px rgb(5, 5, 5);    
}
.aboutsubheadingone{
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.spacingabouttop{
    padding: 50px;
}
.aboutspacingbottom{
    padding: 150px;
}
.aboutnormaltext{
    font-size: 0px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width: 10%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    padding: 50px;
    border-radius: 20px;
    transition: 1s ease-in-out;
}
.aboutnormaltext:hover{
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width: 50%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.205);
    padding: 40px;
    border-radius: 80px;
    line-height: 25px;
    transform: rotate(360deg);
}
.skills{
    background-image: url("img/DSCF8131.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: rgb(250, 249, 249);
    padding-bottom: 30px;
    padding-top: 30px;
}
.skills li{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin: auto;
    width: 60%;
    padding: 20px 20px 20px 20px;
    list-style: none;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
    background-color: rgba(2, 2, 2, 0.692);
}
.skills li .skill_prog{
    width: 50%;
    height: 15px;
    position: relative;
}
.skills li .skill_prog span{
    position: absolute;
    height: 50%;
    background-color: rgba(54, 255, 47, 0.63);
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 10px;
}
.skill_name{
    width: 20%;
    text-align: left;
}
.skill_per{
    padding: 3px;
}
.explist li{
    padding: 20px;
	background-color: rgba(0, 0, 0, 0.699);
    list-style: none;
    margin: auto;
    width: 70%;
    border-radius: 20px;
}
.explist{
    background-image: url("img/DSCF8116.JPG");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px;
    text-align: center;
}
.skillsheading{
    font-size: 80px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    text-shadow: 5px 5px 8px rgba(8, 8, 8, 0.541);
}
.expheading{
    font-size: 80px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    text-shadow: 5px 5px 8px rgba(8, 8, 8, 0.541);
    padding-bottom: 30px;
}
.xpcont{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.699);
    list-style: none;
    margin: auto;
    width: 70%;
    border-radius: 20px;
}
.date{
    padding: 5px;
}
.jobtitle{
    padding: 10px;
    font-size: 30px;
}
hr{
    height: 2px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 50%;
}
.jobdesc{
    line-height: 30px;
}
.social li:hover {
    background-color: turquoise;
    min-width: 50px;
    border-radius: 30%;
    padding: 7px;
    margin-right: 20px;
    transform: rotate(1080deg);
}
.aboutget:hover{
    background-color: rgba(64, 224, 208, 0.555);
    padding: 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 25px;
}
.aboutget{
    transition: 0.5s ease;
    padding-top: 20px;
    width: 70%;
    margin: auto;
    padding: 20px;
	background-color: rgba(2, 2, 2, 0.623);
    border-radius: 20px;
}
/*Blog Page*/
.blogintro{
    background-image: url("img/6574.JPEG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: min-content;
    color: white;
    padding-bottom: 200px;
}
.blogsec1{
    text-align: center;
    color: aqua;
    margin-top: 150px;
    margin-bottom: 70px;
    font-size: 35px;
}
.blogpad1{
    padding: 100px;
}
/* sizing for the blog containers */

.column-4{
    float: left;
    width: 80%;
    padding: 13px;
    margin: 25px;
    height: 280px;
    display: block;
    display: inline-block;
}

/* colour and images for blog containers */

.blog-1{
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.blog-2{
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.blog-3{
    background-color: rgba(240, 255, 255, 0.295);
    background-image: url("https://i.ibb.co/Y0KX2y7/comingsoon.jpg");
    background-size: cover;
    background-position: center;
    background-image; opacity: 0.8;
    display: none;
}
.blog-text{
    text-align: center;
    font-size: 20px;
}
.blog-sub{
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    padding-bottom: 10px;
    transition: 2s ease-in-out;
}
a.blog-button{
    background-color:rgba(64, 224, 208, 0.466);
    color: white;
    text-align: center; display: block;
    padding: 10px;
    font-size: 18px;
}
a.blog-button:hover{
    background-color: rgba(255, 255, 255, 0.37);
    color: black;
    text-align: center;
}
.blogcontainer{
    align-content: center;
    padding-left: 11%;
    padding-right: 3%;
    padding-bottom: 190px;
}

/* Grass is greener Blog PAGE */

.grassheadone{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 15px rgb(5, 5, 5);    
}
.column-5{
    background-color: rgba(0, 0, 0, 0.863);
    padding: 25px;
}
.blogpad2{
    padding: 40px;
}


@media screen and (min-width: 601px) and (max-width: 900px) {
    .column-4{
        float: left;
        width: 80%;
        padding: 13px;
        margin: 25px;
        height: 320px;
        display: block;
        display: inline-block;
    }
    .blog-1{
        background-color: rgba(0, 0, 0, 0.75);
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }
	.blog-2{
        background-color: rgba(0, 0, 0, 0.75);
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }
    .blog-text{
        font-size: 18px;
    }
    .blog-sub{
        text-align: center;
        font-size: 12.5px;
        overflow: hidden;
        padding-bottom: 10px;
        transition: 2s ease-in-out;
    }
    a.blog-button{
        font-size: 18px;
    }
    .blogpad1{
        padding: 150px;
    }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .heading{
        font-size: 45px;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        padding-top: 60px;
        text-shadow: 5px 5px 15px white;
        text-shadow: 1px 1px 5px turquoise,
        1px 1px 10px turquoise;
    }
    .text {
        color: rgba(110, 109, 109, 0.568);
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .prof{
        font-size: 40px;
        text-shadow: 0px 5px 9px rgb(255, 253, 253);
        padding-bottom: 10px;
    }
    .summary{
        font-size: 13px;
        text-shadow: 1px 2px 4px rgba(70, 68, 68, 0.479),
        1px 2px 1px rgb(12, 255, 235),
        1px 10px 2px rgba(12, 255, 235, 0.74),
        1px 20px 4px rgba(12, 255, 235, 0.726),
        1px 30px 9px rgba(12, 255, 235, 0.726);
    }
    .social li{
        min-width: 40px;
        border-radius: 30%;
        background-color: rgb(29, 28, 28);
        padding: 7px;
        margin-right: 10px;
        transition: 2s ease;
    }
    .intro{
        background-image: url("https://i.ibb.co/CM4bYLt/breno-machado-in9-n0-Jwg-Z0-unsplash.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        color: white;
        padding-bottom: 95px;
    }
    nav ul li a {
        font-size: 12px;
    }
    .floatleft {
        float: left;
        margin-left: -25px;
    }
    .floatright {
        float:right;
        margin-right: 15px;
    }
    .aboutintro{
        background-image: url("img/5984.JPEG");
        background-size: 1050px;
        background-attachment: scroll;
        width: 100%;
        height: min-content;
        color: white;
        padding-bottom: 20px;
    }
    .aboutheadingone{
        font-size: 70px;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 10px rgb(5, 5, 5);    
    }
    .aboutsubheadingone{
        font-size: 13px;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        padding-bottom: 110px;
    }
    .spacingabouttop{
        padding: 0px;
    }
    .aboutspacingbottom{
        padding: 0px;
    }
    .aboutnormaltext{
        font-size: 15px;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        width: 80%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.185);
        border-radius: 20px;
        padding: 15px;
    }
    .skills{
        background-image: linear-gradient(turquoise, black);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
        color: rgb(250, 249, 249);
        padding-bottom: 30px;
        padding-top: 30px;
        list-style-position: inside;
    }
    .skills li{
        margin: auto;
        width: 80%;
        padding: 15px 15px 15px 15px;
        text-shadow: 1px 1px 1px black;
        border-radius: 40px;
        background-color: rgba(0, 0, 0, 0.699);
    }
    .skills li .skill_prog{
        width: 50%;
        height: 15px;
        position: relative;
    }
    .skills li .skill_prog span{
        position: absolute;
        height: 50%;
        background-color: rgba(54, 255, 47, 0.63);
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 5px;
        border-radius: 10px;
    }
    .skill_name{
        width: 20%;
        text-align: left;
    }
    .skill_per{
        padding: 3px;
    }
    .explist li{
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.699);
        list-style: none;
        margin: auto;
        width: 70%;
        border-radius: 20px;
    }
    .explist{
        background-image: linear-gradient(turquoise, black);
        color: white;
        padding: 30px;
        text-align: center;
    }
    .skillsheading{
        font-size: 80px;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.801);
        text-align: center;
        text-shadow: 5px 5px 8px rgba(8, 8, 8, 0.541);
    }
    .expheading{
        font-size: 60px;
        font-weight: bolder;
        color: rgba(255, 255, 255, 0.801);
        text-align: center;
        text-shadow: 5px 5px 8px rgba(8, 8, 8, 0.541);
        padding-bottom: 30px;
    }
    .xpcont{
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.699);
        list-style: none;
        margin: auto;
        width: 70%;
        border-radius: 20px;
    }
    .date{
        padding: 5px;
    }
    .jobtitle{
        padding: 10px;
        font-size: 20px;
    }
    hr{
        height: 2px;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        width: 90%;
    }
    .jobdesc{
        line-height: 18px;
        font-size: 13px;
    }
    .galleryintro{
        background-image: url("img/29170.JPEG");
        background-size: cover;
        background-attachment: scroll;
        background-position: center;
        width: 100%;
        height: min-content;
        color: white;
        padding-bottom: 200px;
    }
    .galleryheadingone{
        font-size: 70px;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 2px 15px rgb(5, 5, 5);    
    }
    .gallerysubheadingone{
        font-size: 13px;
        text-align: center;
        text-shadow: 1px 1px 1px black;
    }
    .gallerybottom{
        padding: 150px;
    }
    .gpic{
        width: 100%;
        border-radius: 500px;
        border: solid 1px rgba(54, 53, 53, 0);
    }
    .gallerypics{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .blogsec1{
        text-align: center;
        color: aqua;
        margin-top: 150px;
        margin-bottom: 70px;
        font-size: 35px;
    }

    /* sizing for the blog containers */
    
    .column-4{
        float: left;
        width: 80%;
        height: 430px;
        margin-left: auto;
        margin-right: auto;

    }
    
    /* colour and images for blog containers */
    
    .blog-1{
        background-color: rgba(0, 0, 0, 0.75);
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }
    .blog-2{
        background-color: rgba(0, 0, 0, 0.75);
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }
    .blog-3{
        background-color: rgba(0, 0, 0, 0.75);
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }
    .blog-text{
        text-align: center;
        font-size: 18px;
    }
    .blog-sub{
        text-align: center;
        font-size: 11px;
        overflow: hidden;
        padding-bottom: 10px;
        transition: 2s ease-in-out;
    }
    a.blog-button{
        font-size: 18px;
    }
    .blogcontainer{
        align-content: center;
    }
    .blogpad1{
        padding: 50px;
    }
    /*Blog Page*/
    .blogintro{
        background-image: linear-gradient(turquoise, black);
        color: white;
    }
}

